.nav-item {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.nav-item:hover {
    color: #F7DFF7;
}

.active-nav-item {
    color: #C24EC2;
}
.header {
    padding: 1rem 0 3rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 8px solid transparent;
    border-image: url(./cloth.jpg) 20% round;
}
.title { 
    color: #9C079C;
    font-size: 3rem;
    text-decoration: none;
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}