.bold {
    font-weight: bold;
    color: #9C079C;
    margin-left: .3rem;
}

.paragraph {
    font-size: 25px;
    padding:1rem 0;
}

.hello {
    font-weight: bold;
    font-size: 50px;
    color: #9C079C;
}

.link {
    background: #F7DFF7;
    display: inline-block;
    text-decoration: none;
    margin-left: .4rem;
    padding: .5rem;
    border-radius: .1rem;
    font-size: 1.5rem;

}